*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.texto__main{
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
    align-self: center;
}
.main__principal{
display: grid;
grid-template-columns: 1fr 2fr 1fr;
grid-template-rows:  1fr 1fr;
background-image: url(../resources/h1.jpg);
background-size: cover;
background-position: center;
height: 100vh;
transition: 2s;
border-radius: 30px;

}
h1{
    font-size: 40px;
    color: white;

}


.titulo1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px black;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/1;

}
.main__boton{
    grid-column: 2/3;
    grid-row: 2/4;
    padding: 30px;
    justify-content: center;
    display: flex;
    
}

button:hover{
    transform:  translateX(10px);
    filter: brightness(80%);
    transition: 0.7s;
}

.main__boton button{
    height: 70px;
    width: 240px;
    cursor: pointer;
}

button{
    background-color: black;
    border: white;
    border-radius: 15px;
    font-size: 26px;
    color: white;
    padding: 10px
}
.grid__area{
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "mazda autosblancos autorojo"
                        "mazda autosblancos autobordo"
                        "mazda racing autobordo";
    height: 800px;
    width:100%;
    column-gap: 10px;
    padding: 10px;
    row-gap: 10px;
    justify-content: center;    

}

.mazda{
    grid-area: mazda;
    background-image: url(../resources/mazda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    
}
.mazda:hover {
    transform:  translateX(10px);
    filter: brightness(80%);
}

.autosblancos:hover{
    transform:  translateX(10px);
    filter: brightness(80%);
}
.main__principal:hover{
    transform:  translateY(4px);
    filter: brightness(80%);
}

.autorojo:hover{
    transform:  translateX(10px);
    filter: brightness(80%);
}

.autobordo:Hover{
    transform:  translateX(10px);
    filter: brightness(80%);
}
.racing:hover{
    transform:  translateX(10px);
    filter: brightness(80%);
}


.autosblancos{
    grid-area: autosblancos;
    background-image: url(../resources/autosblancos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
}

.autorojo{
    grid-area: autorojo;
    background-image: url(../resources/autorojo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
    
}

.autobordo{
    grid-area: autobordo;
    background-image: url(../resources/autobordo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
}

.racing{
grid-area: racing;
background-image: url(../resources/racing.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 500px;
background-position: center;
transition: 2s;
}

.grid__galeria{
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
grid-template-areas: "autoazul autoceleste"
                        "autoazul autoceleste";
    height:600px;    
    width:100%;
    column-gap: 10px;
    padding: 10px;
    row-gap: 10px;
    justify-content: center;    
}

.autoazul{
    grid-area: autoazul;
    background-image: url(../resources/autoazul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s;

}
.autoazul:hover{
    transform:  translatex(-10px);
    filter: brightness(80px);

}
.autoceleste:hover{
    transform:  translateX(10px);
    filter: brightness(80px);
}
.autoceleste{
    grid-area: autoceleste;
    background-image: url(../resources/autoceleste.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s;
}

h2{
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

p{
    color: black;
}


a{
    color: black;
    font-family: 'Albert Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;

}

footer{
    background-color: black;
    height: 400px;
}

span{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',serif;
}

    .header__menu{
    background-color: rgba(33, 0, 0, 0);
    

}

.navegador ul{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}


.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 70px;
    
}
.nav__bar1 li{
    display: flex;
    list-style: none;
    padding: 20px;
    flex-direction: row;
    

}
.titulo2{
    display: flex;
    padding: 10px;
    margin: 2px;
}

.nav__bar2 a{
    display: flex;
    justify-content: flex-end;
    height: 35px;
    
}

.nav__bar2 a:hover{
transform: scale(1.15, 1.15);
transition: all 0.3s;
}



.grid__parrafo{
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
column-gap: 10px;
padding: 20px;
    margin: 5%;
    border-radius: 15px;

}

.texto__revista{
    font-size: 20px;
    font-family: Arial;
    color: white;
    }
.revista{
    height: 400px;
    width: 400px;
    border-radius: 10px;
    display: flex;
}
.revista3{
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.grid__parrafo2{
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    padding: 30px;
    margin: 5%;
    border-radius: 15px;

    


}


.revista2{
    height: 400px;
    width: 400px;
    border-radius: 10px;
    }

.edit__img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    
}
.revista:hover{
    transform:  translateX(10px);
    filter: brightness(80%);
    transition: 0.7s;
    

}

.revista2:hover{
    transform:  translateX(10px);
    filter: brightness(80%);
    transition: 0.7s;
}


.juegos__electronicos{
    background-color: rgba(0, 0, 0, 0.122);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "car bmw-car racing-car"
                        "car auto-bmw2 bmwgame"
                        "car auto-bmw2 bmwgame";
    height: 800px;
    
    padding: 30px;
margin: 5%;
border-radius: 15px;
    justify-content: center;    

}
    
    .car{
        grid-area: car;
        background-image: url(../resources/car.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 2s;
        overflow: hidden;
        margin: 20px;
        cursor: pointer;
        border-radius: 15px;
        
    }

    .bmw-car{
        grid-area: bmw-car;
        background-image: url(../resources/bmw-car.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 2s;
        overflow: hidden;
        margin: 20px;
        cursor: pointer;
        border-radius: 15px;
    }

    .racing-car{
        grid-area: racing-car;
        background-image: url(../resources/racing-car.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 2s;
        overflow: hidden;
        margin: 20px;
        cursor: pointer;
        border-radius: 15px;
    }

    .auto-bmw2{
        grid-area: auto-bmw2;
        background-image: url(../resources/auto-bmw2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 2s;
        overflow: hidden;
        margin: 20px;
        cursor: pointer;
        border-radius: 15px;
        column-gap: 2px;
        row-gap: 3px;
    }

    .bmwgame{
        grid-area: bmwgame;
        background-image: url(../resources/bmwgame.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 2s;
        overflow: hidden;
        margin: 20px;
        cursor: pointer;
        border-radius: 15px;
    }

    .subtitulo{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        border-radius: 15px;
    }




    .deportivo__esports2{
        background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
padding: 20px;
    margin: 5%;
    border-radius: 15px;
    grid-column: 40px;
    grid-row: 34px;
    }

    .deportivos__esports{
    
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-column: 40px;
    grid-row: 34px;
padding: 20px;
    margin: 5%;
    border-radius: 15px;
    }

main{
    background-image: url(../resources/fondoea.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
}




@media (min-width: 576px) and (max-width:992px){
    .header__menu{
        background-color: rgba(204, 202, 202, 0.24);
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    
    }
    
    .navegador ul{
        display: flex;
        padding: 10px;
        justify-content: center;
        flex-direction: column;
    }
    
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo img{
        width: 70px;
        
    }
    .nav__bar1 li{
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
        
    
    }
    .titulo2{
        display: flex;
        padding: 10px;
        margin: 2px;
        align-items: center;
        justify-content: center;
    }
    
    .nav__bar2 a{
        display: flex;
        justify-content: center;
        align-self: center;
        height: 35px;
        flex-direction: column;
        
    }
    
    .nav__bar2 a:hover{
        background-color: white;
    }

    .grid__parrafo{
        background-color: rgba(0, 0, 0, 0.593);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
    
    }

    .texto__revista{
        font-size: 20px;
        font-family: Arial;
        color: white;
        align-self: center;
        }
    .revista{
        height: 400px;
        width: 400px;
        border-radius: 10px;
    }
    
    .grid__parrafo2{
        background-color: rgba(0, 0, 0, 0.593);
    display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 30px;
        margin: 5%;
        border-radius: 15px;
    }
    
    
    .revista2{
        height: 400px;
        width: 400px;
        border-radius: 10px;
        }
    .revista3{
        height: 400px;
        width: 400px;
    }
    .edit__img{
        width: 100%;
        height: 100%;
        
        
    }
    .revista:hover{
        transform:  translateX(10px);
        filter: brightness(80%);
        transition: 0.7s;
    
    }
    
    .revista2:hover{
        transform:  translateX(10px);
        filter: brightness(80%);
        transition: 0.7s;
    }
    
    
        .juegos__electronicos{
            background-color: rgba(0, 0, 0, 0.122);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: "car bmw-car racing-car"
                                "car auto-bmw2 bmwgame"
                                "car auto-bmw2 bmwgame";
            height: 800px;
            
            padding: 30px;
        margin: 5%;
        border-radius: 15px;
            justify-content: center;    
        
        }
        
        .car{
            grid-area: car;
            background-image: url(../resources/car.gif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
            
        }
    
        .bmw-car{
            grid-area: bmw-car;
            background-image: url(../resources/bmw-car.gif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
        }
    
        .racing-car{
            grid-area: racing-car;
            background-image: url(../resources/racing-car.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
        }
    
        .auto-bmw2{
            grid-area: auto-bmw2;
            background-image: url(../resources/auto-bmw2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
            column-gap: 2px;
            row-gap: 3px;
        }
    
        .bmwgame{
            grid-area: bmwgame;
            background-image: url(../resources/bmwgame.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
        }
    
        .subtitulo{
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            border-radius: 15px;
        }
    
    
    
    
        .deportivo__esports{
            
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
        .deportivos__esports{
        
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
    main{
        background-image: url(../resources/fondoea.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
    }
    .deportivo__esports2{
        
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
        .deportivos__esports{
        
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
    main{
        background-image: url(../resources/fondoea.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: grid;
    }
}

@media (min-width:320px) and (max-width:575px){
    .grid__area{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "mazda"
                            "racing"
                        "autosblancos" 
                            "autorojo"
                            "autobordo";
        height: 800px;
        width: auto;
    
    }
    
    .mazda{
        grid-area: mazda;
        background-image: url(../resources/mazda.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 2s;
        overflow: hidden;

        
        
    }
    .mazda:hover {
        transform:  translateX(10px);
        filter: brightness(80%);
    }
    
    .autosblancos:hover{
        transform:  translateX(10px);
        filter: brightness(80%);
    }
    .main__principal:hover{
        transform:  translateY(4px);
        filter: brightness(80%);
    }
    
    .autorojo:hover{
        transform:  translateX(10px);
        filter: brightness(80%);
    }
    
    .autobordo:Hover{
        transform:  translateX(10px);
        filter: brightness(80%);
    }
    .racing:hover{
        transform:  translateX(10px);
        filter: brightness(80%);
    }
    
    
    .autosblancos{
        grid-area: autosblancos;
        background-image: url(../resources/autosblancos.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 2s;
    }
    
    .autorojo{
        grid-area: autorojo;
        background-image: url(../resources/autorojo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 2s;
        
    }
    
    .autobordo{
        grid-area: autobordo;
        background-image: url(../resources/autobordo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 2s;
    }
    
    .racing{
    grid-area: racing;
    background-image: url(../resources/racing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
    }
    
    .grid__galeria{
        display: grid;
    
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
    grid-template-areas: "autoazul"
                        "autoceleste";
        height:700px;    
        width:auto;
        column-gap: 10px;
        padding: 10px;
        row-gap: 10px;
        justify-content: center;    
    }
    
    .autoazul{
        grid-area: autoazul;
        background-image: url(../resources/autoazul.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        transition: 2s;
    
    }
    .autoazul:hover{
        transform:  translatex(-10px);
        filter: brightness(80px);
    
    }
    .autoceleste:hover{
        transform:  translateX(10px);
        filter: brightness(80px);
    }
    .autoceleste{
        grid-area: autoceleste;
        background-image: url(../resources/autoceleste.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        transition: 2s;
    }


    .header__menu{
        background-color: rgba(204, 202, 202, 0.24);
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    
    }
    
    .navegador ul{
        display: flex;
        padding: 10px;
        justify-content: center;
        flex-direction: column;
    }
    
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo img{
        width: 70px;
        
    }
    .nav__bar1 li{
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
        
    
    }
    .titulo2{
        display: flex;
        padding: 10px;
        margin: 2px;
        align-items: center;
        justify-content: center;
    }
    
    .nav__bar2 a{
        display: flex;
        justify-content: center;
        align-self: center;
        height: 35px;
        flex-direction: column;
        
    }
    
    .nav__bar2 a:hover{
        background-color: white;
    }

    .grid__parrafo{
        background-color: rgba(0, 0, 0, 0.593);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        border-radius: 15px;
    
    }
    .texto__revista{
    font-size: 20px;
    font-family: Arial;
    color: white;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .revista{
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }
    
    .grid__parrafo2{
        background-color: rgba(0, 0, 0, 0.593);
    display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 30px;
        margin: 5%;
        border-radius: 15px;
    }
    
    
    .revista2{
        height: 200px;
        width: 200px;
        border-radius: 10px;
        }
    .revista3{
        height: 200px;
        width: 200px;
    }
    .edit__img{
        width: 100%;
        height: 100%;
        
        
    }
    .revista:hover{
        transform:  translateX(10px);
        filter: brightness(80%);
        transition: 0.7s;
    
    }
    
    .revista2:hover{
        transform:  translateX(10px);
        filter: brightness(80%);
        transition: 0.7s;
    }
    
    
        .juegos__electronicos{
            background-color: rgba(0, 0, 0, 0.122);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: "car bmw-car racing-car"
                                "car auto-bmw2 bmwgame"
                                "car auto-bmw2 bmwgame";
            height: 800px;
            
            padding: 30px;
        margin: 5%;
        border-radius: 15px;
            justify-content: center;    
        
        }
        
        .car{
            grid-area: car;
            background-image: url(../resources/car.gif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
            
        }
    
        .bmw-car{
            grid-area: bmw-car;
            background-image: url(../resources/bmw-car.gif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
        }
    
        .racing-car{
            grid-area: racing-car;
            background-image: url(../resources/racing-car.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
        }
    
        .auto-bmw2{
            grid-area: auto-bmw2;
            background-image: url(../resources/auto-bmw2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
            column-gap: 2px;
            row-gap: 3px;
        }
    
        .bmwgame{
            grid-area: bmwgame;
            background-image: url(../resources/bmwgame.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
        }
    
        .subtitulo{
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            border-radius: 15px;
        }
    
    
    
    
        .deportivo__esports2{
            
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
        .deportivos__esports{
        
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
    main{
        background-image: url(../resources/fondoea.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: grid;
        width: 100%;
    }
    .deportivo__esports2{
        
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
        .deportivos__esports{
        
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
    main{
        background-image: url(../resources/fondoea.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: grid;
    }
}




@media(min-width:993px) and (max-width:1592px){
    .header__menu{
        background-color: rgba(204, 202, 202, 0.24);
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    
    }
    
    .navegador ul{
        display: flex;
        padding: 10px;
        justify-content: center;
        flex-direction: column;
    }
    
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo img{
        width: 70px;
        
    }
    .nav__bar1 li{
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
        
    
    }
    .titulo2{
        display: flex;
        padding: 10px;
        margin: 2px;
        align-items: center;
        justify-content: center;
    }
    
    .nav__bar2 a{
        display: flex;
        justify-content: center;
        align-self: center;
        height: 35px;
        flex-direction: column;
        
    }
    
    .nav__bar2 a:hover{
        background-color: white;
    }

    .grid__parrafo{
        background-color: rgba(0, 0, 0, 0.593);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
    
    }

    .texto__revista{
        font-size: 20px;
        font-family: Arial;
        color: white;
        align-self: center;
        }
    .revista{
        height: 400px;
        width: 400px;
        border-radius: 10px;
    }
    
    .grid__parrafo2{
        background-color: rgba(0, 0, 0, 0.593);
    display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 30px;
        margin: 5%;
        border-radius: 15px;
    }
    
    
    .revista2{
        height: 400px;
        width: 400px;
        border-radius: 10px;
        }
    .revista3{
        height: 400px;
        width: 400px;
    }
    .edit__img{
        width: 100%;
        height: 100%;
        
        
    }
    .revista:hover{
        transform:  translateX(10px);
        filter: brightness(80%);
        transition: 0.7s;
    
    }
    
    .revista2:hover{
        transform:  translateX(10px);
        filter: brightness(80%);
        transition: 0.7s;
    }
    
    
        .juegos__electronicos{
            background-color: rgba(0, 0, 0, 0.122);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: "car bmw-car racing-car"
                                "car auto-bmw2 bmwgame"
                                "car auto-bmw2 bmwgame";
            height: 800px;
            
            padding: 30px;
        margin: 5%;
        border-radius: 15px;
            justify-content: center;    
        
        }
        
        .car{
            grid-area: car;
            background-image: url(../resources/car.gif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
            
        }
    
        .bmw-car{
            grid-area: bmw-car;
            background-image: url(../resources/bmw-car.gif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
        }
    
        .racing-car{
            grid-area: racing-car;
            background-image: url(../resources/racing-car.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
        }
    
        .auto-bmw2{
            grid-area: auto-bmw2;
            background-image: url(../resources/auto-bmw2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
            column-gap: 2px;
            row-gap: 3px;
        }
    
        .bmwgame{
            grid-area: bmwgame;
            background-image: url(../resources/bmwgame.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
        }
    
        .subtitulo{
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            border-radius: 15px;
        }
    
    
    
    
        .deportivo__esports{
            
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
        .deportivos__esports{
        
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
    main{
        background-image: url(../resources/fondoea.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
    }
    .deportivo__esports2{
        
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
        .deportivos__esports{
        
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
    main{
        background-image: url(../resources/fondoea.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: grid;
    }
}

@media (min-width:320px) and (max-width:575px){
    .header__menu{
        background-color: rgba(204, 202, 202, 0.24);
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    
    }
    
    .navegador ul{
        display: flex;
        padding: 10px;
        justify-content: center;
        flex-direction: column;
    }
    
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo img{
        width: 70px;
        
    }
    .nav__bar1 li{
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
        
    
    }
    .titulo2{
        display: flex;
        padding: 10px;
        margin: 2px;
        align-items: center;
        justify-content: center;
    }
    
    .nav__bar2 a{
        display: flex;
        justify-content: center;
        align-self: center;
        height: 35px;
        flex-direction: column;
        
    }
    
    .nav__bar2 a:hover{
        background-color: white;
    }

    .grid__parrafo{
        background-color: rgba(0, 0, 0, 0.593);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        border-radius: 15px;
    
    }
    .texto__revista{
    font-size: 20px;
    font-family: Arial;
    color: white;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .revista{
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }
    
    .grid__parrafo2{
        background-color: rgba(0, 0, 0, 0.593);
    display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 30px;
        margin: 5%;
        border-radius: 15px;
    }
    
    
    .revista2{
        height: 200px;
        width: 200px;
        border-radius: 10px;
        }
    .revista3{
        height: 200px;
        width: 200px;
    }
    .edit__img{
        width: 100%;
        height: 100%;
        
        
    }
    .revista:hover{
        transform:  translateX(10px);
        filter: brightness(80%);
        transition: 0.7s;
    
    }
    
    .revista2:hover{
        transform:  translateX(10px);
        filter: brightness(80%);
        transition: 0.7s;
    }
    
    
        .juegos__electronicos{
            background-color: rgba(0, 0, 0, 0.122);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: "car bmw-car racing-car"
                                "car auto-bmw2 bmwgame"
                                "car auto-bmw2 bmwgame";
            height: 800px;
            
            padding: 30px;
        margin: 5%;
        border-radius: 15px;
            justify-content: center;    
        
        }
        
        .car{
            grid-area: car;
            background-image: url(../resources/car.gif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
            
        }
    
        .bmw-car{
            grid-area: bmw-car;
            background-image: url(../resources/bmw-car.gif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
        }
    
        .racing-car{
            grid-area: racing-car;
            background-image: url(../resources/racing-car.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
        }
    
        .auto-bmw2{
            grid-area: auto-bmw2;
            background-image: url(../resources/auto-bmw2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
            column-gap: 2px;
            row-gap: 3px;
        }
    
        .bmwgame{
            grid-area: bmwgame;
            background-image: url(../resources/bmwgame.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 2s;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            border-radius: 15px;
        }
    
        .subtitulo{
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            border-radius: 15px;
        }
    
    
    
    
        .deportivo__esports2{
            
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
        .deportivos__esports{
        
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
    main{
        background-image: url(../resources/fondoea.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: grid;
        width: 100%;
    }
    .deportivo__esports2{
        
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
        .deportivos__esports{
        
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    padding: 30px;
        margin: 5%;
        border-radius: 15px;
        }
    
    main{
        background-image: url(../resources/fondoea.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: grid;
    }
}



.instagramcuadro1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: auto;   
    height: auto;
    margin: 2px;
    justify-content: center;
    row-gap: 2px;
    column-gap: 10px;
    padding: 20px;
}

.iframeclass{
    width: 100%;
    border-radius: 15px;
    margin: 1px;
    height: 450px;
}


.iframeclass:hover{
    transform: scale(1.02,1.02);
    transition: 1s;
}

.imagen__nav{
    height: 50px;

}

.navbar-toggler{
    padding: 3px;
    margin: 13px;
}

.nav-link{
    color: black;
}
