.footer {
  display: grid;
  height: 100px;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 3px;
  row-gap: 3px;
  column-gap: 10px;
  align-items: center;
  width: 100%;
  background-color: black; }

.footer__hijo {
  display: flex;
  justify-content: center; }

.footer__class {
  display: inline;
  justify-content: center;
  padding: 20px;
  align-self: center; }

.footer__derechos {
  display: flex;
  justify-content: center;
  align-items: center; }

/* COLORES */
/* TEXTO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

.imagen__nav {
  height: 50px; }

.nav-item {
  color: black; }
  .nav-item a:hover {
    color: white;
    transform: scale(1.05, 1.05);
    transition: 1s; }

.navbar-brand {
  color: white;
  padding: 30px;
  font-size: 40px;
  font-family: 'Mouse Memoirs', sans-serif; }
  .navbar-brand:hover {
    color: white; }

.imagen__nav {
  height: 50px;
  width: 70px; }

.ico {
  background-image: url(../resources/pngnav.png); }

.nav-link {
  color: white;
  font-size: 25px;
  text-shadow: 54px;
  font-family: 'Mouse Memoirs', sans-serif; }

.edit__boton {
  color: black;
  background: white;
  background-color: white; }

.form-group {
  color: white;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace; }

.color__fondo {
  background: rgba(122, 122, 122, 0.12);
  padding: 40px;
  margin: 30px; }

.header__nav {
  background-color: rgba(255, 255, 255, 0);
  height: 50px; }

.boton__prueba {
  display: flex;
  justify-content: center; }

h2 {
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center; }

p {
  color: white; }

h1 {
  color: white; }

span {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

body {
  background-image: url(../resources/fondoweb.jpg); }

.texto__principal {
  background-image: url(../resources/fondoactua.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 5px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 0px;
  color: black; }

.titulo__principal {
  color: black;
  font-family: 'Mouse Memoirs', sans-serif;
  text-shadow: 2px 2px 4px black;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/3;
  grid-row: 1/1; }

.formato__principal {
  display: flex;
  justify-content: center;
  width: 100%; }

.texto2 {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center; }

.galeria__fotos {
  display: grid;
  justify-content: center;
  grid-template-columns: 270px 350px 250px;
  grid-template-rows: 250px 250px 250px;
  background-color: rgba(0, 0, 0, 0);
  margin: 15px;
  border-radius: 15px;
  grid-gap: 15px; }

.galeria__fotos img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px; }

.editar__mov {
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center; }

.imagen__primera {
  grid-row: 1/3;
  grid-column: 2/2; }

.imagen__ultima {
  grid-column: 1/4; }

.texto__revista {
  font-size: 20px; }

@media (min-width: 320px) and (max-width: 576px) {
  .editar__espa {
    grid-template-columns: auto;
    display: grid;
    justify-content: center; }
  .color__fondo {
    background: white;
    border-radius: 15px; }
  .boton__prueba {
    height: auto;
    width: auto; }
  .galeria__fotos {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: rgba(0, 0, 0, 0);
    margin: 15px;
    border-radius: 15px;
    grid-gap: 15px; }
  .galeria__fotos img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .editar__mov {
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center; }
  .imagen__primera {
    grid-row: 1/3;
    grid-column: 2/2; }
  .imagen__ultima {
    grid-column: 1/4; }
  .imagen__nav {
    height: 50px; }
  .form-group {
    color: white; }
  .nav-item {
    color: white; }
    .nav-item a:hover {
      color: white;
      transform: scale(1.05, 1.05);
      transition: 1s; }
  .navbar-brand {
    color: white;
    padding: 30px; }
    .navbar-brand:hover {
      color: white; }
  .imagen__nav {
    height: 50px;
    width: 70px; }
  .nav-link {
    color: white;
    font-size: 20px;
    height: auto;
    text-shadow: 54px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .form-group {
    color: black; }
  .boton__prueba {
    display: flex;
    justify-content: center; }
  .navbar-toggler {
    color: white;
    background: white; }
  .texto__principal {
    background-image: url(../resources/fondoactua.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 5px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 0px;
    color: black; }
  .titulo__principal {
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 2px 2px 4px black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1/1;
    box-shadow: 4px 4px 3px 3px; }
  .formato__principal {
    display: flex;
    justify-content: center;
    width: auto; }
  .texto2 {
    display: flex;
    justify-content: center;
    align-self: center; }
  .footer {
    display: grid;
    color: black;
    height: 100px;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 3px;
    row-gap: 3px;
    column-gap: 10px;
    align-items: center;
    width: 100%; }
  .footer__hijo {
    color: black;
    display: flex;
    justify-content: center; }
  .footer__class {
    display: inline;
    justify-content: center;
    padding: 20px;
    align-self: center;
    color: black; }
  .footer__derechos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; }
  .header__nav {
    background-color: rgba(0, 0, 0, 0.024);
    height: auto; }
  .texto__galeria {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 200px; }
  .grid__galeria-space {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto;
    height: 800px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    margin: 5px;
    border-radius: 30px; }
  h2 {
    font-size: 20px; }
  .carousel-item {
    width: 100%;
    height: auto; }
  .medidas {
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: flex-start; }
  .grid__galeria-space {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 500px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    margin: 5px;
    border-radius: 30px; }
  .grid__parrafo {
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: auto; }
  .edit__img {
    width: auto;
    height: auto; }
  .revista {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    display: flex; }
  .texto__revista {
    font-size: 11px;
    font-family: Arial;
    color: white; }
  .grid__parrafo2 {
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 30px;
    margin: 5%;
    border-radius: 30px; }
  .texto__revista {
    font-size: 20px;
    font-family: Arial;
    color: white; }
  .revista3 {
    height: 200px;
    width: 200px;
    border-radius: 10px; }
  .grid__parrafo {
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 10px;
    padding: 20px;
    margin: 5%;
    border-radius: 15px; }
  .grid__parrafo .edit__img {
    width: 400px;
    height: 400px; }
  .grid__parrafo .revista {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex; }
  .grid__parrafo .texto__revista {
    font-size: 13px;
    font-family: Arial;
    color: white; }
  .grid__parrafo .grid__parrafo2 {
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 30px;
    font-size: 1px;
    margin: 5%;
    border-radius: 15px; }
  .revista3 {
    height: 400px;
    width: 400px;
    border-radius: 10px; }
  .revista2 {
    height: 400px;
    width: 400px;
    border-radius: 10px; }
  .revista:hover {
    transform: translateX(10px);
    filter: brightness(80%);
    transition: 0.7s; }
  .revista2:hover {
    transform: translateX(10px);
    filter: brightness(80%);
    transition: 0.7s; }
  .grid__parrafo {
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 10px;
    padding: 20px;
    font-size: 12px;
    margin: 5%;
    border-radius: 15px; }
  .grid__parrafo .edit__img {
    width: 250px;
    height: 250px; }
  .grid__parrafo .revista {
    height: 100%;
    width: 100%;
    font-size: 11px;
    border-radius: 10px;
    display: flex; }
  .grid__parrafo .texto__revista {
    font-size: 14px;
    font-family: Arial;
    color: white; }
  .grid__parrafo2 {
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 30px;
    margin: 5%;
    border-radius: 15px; }
  .grid__parrafo2 .texto__revista {
    font-size: 13px;
    font-family: Arial;
    color: white; }
  .revista3 {
    height: 200px;
    width: 200px;
    border-radius: 10px; }
  .revista2 {
    height: 250px;
    width: 240px;
    border-radius: 10px; }
  .revista:hover {
    transform: translateX(10px);
    filter: brightness(80%);
    transition: 0.7s; }
  .revista2:hover {
    transform: translateX(10px);
    filter: brightness(80%);
    transition: 0.7s; }
  .juegos__electronicos {
    background-color: rgba(0, 0, 0, 0.122);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "car bmw-car racing-car" "car auto-bmw2 bmwgame" "car auto-bmw2 bmwgame";
    height: 800px;
    padding: 30px;
    margin: 5%;
    border-radius: 15px;
    justify-content: center; }
  .car {
    grid-area: car;
    background-image: url(../resources/car.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    border-radius: 15px; }
  .bmw-car {
    grid-area: bmw-car;
    background-image: url(../resources/bmw-car.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    border-radius: 15px; }
  .racing-car {
    grid-area: racing-car;
    background-image: url(../resources/racing-car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    border-radius: 15px; }
  .auto-bmw2 {
    grid-area: auto-bmw2;
    background-image: url(../resources/auto-bmw2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    border-radius: 15px;
    column-gap: 2px;
    row-gap: 3px; }
  .bmwgame {
    grid-area: bmwgame;
    background-image: url(../resources/bmwgame.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    border-radius: 15px; }
  .subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 15px; }
  .deportivo__esports2 {
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 20px;
    margin: 5%;
    border-radius: 15px;
    grid-column: 40px;
    grid-row: 34px; }
  .deportivos__esports {
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column: 40px;
    grid-row: 34px;
    padding: 20px;
    margin: 5%;
    border-radius: 15px; }
  .carousel-item {
    width: 100%;
    height: 500px; } }

footer {
  position: 0;
  bottom: 0; }

.principal {
  margin-top: 15px;
  border-radius: 5px;
  padding: 50px;
  color: black;
  font-family: Arial, Helvetica, sans-serif; }

.texto__galeria {
  color: white;
  font-family: Arial, Helvetica, sans-serif; }

.grid__galeria-space {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: auto;
  height: auto;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  margin: 5px;
  border-radius: 30px; }

.carousel-item {
  width: 100%;
  height: 500px; }

.galeria {
  width: auto;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 3px 2px;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center; }

.galeria__texto {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 3px;
  margin: 5px; }

.galeria__tittle {
  align-self: center; }

.grid__parrafo {
  background-color: rgba(0, 0, 0, 0.593);
  display: grid;
  grid-template-columns: 240px 240px;
  grid-template-rows: auto;
  column-gap: 10px;
  padding: 20px;
  margin: 5%;
  border-radius: 15px; }
  .grid__parrafo .edit__img {
    width: 400px;
    height: 400px; }
  .grid__parrafo .revista {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex; }
  .grid__parrafo .texto__revista {
    font-size: 20px;
    font-family: Arial;
    color: white; }
  .grid__parrafo .grid__parrafo2 {
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    padding: 30px;
    margin: 5%;
    border-radius: 15px; }

.revista3 {
  height: 400px;
  width: 400px;
  border-radius: 10px; }

.revista2 {
  height: 400px;
  width: 400px;
  border-radius: 10px; }

.revista:hover {
  transform: translateX(10px);
  filter: brightness(80%);
  transition: 0.7s; }

.revista2:hover {
  transform: translateX(10px);
  filter: brightness(80%);
  transition: 0.7s; }

.grid__parrafo {
  background-color: rgba(0, 0, 0, 0.593);
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: auto;
  column-gap: 10px;
  padding: 20px;
  margin: 5%;
  border-radius: 15px; }
  .grid__parrafo .edit__img {
    width: 400px;
    height: 400px; }
  .grid__parrafo .revista {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex; }
  .grid__parrafo .texto__revista {
    font-size: 20px;
    font-family: Arial;
    color: white; }

.grid__parrafo2 {
  background-color: rgba(0, 0, 0, 0.593);
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  padding: 30px;
  margin: 5%;
  border-radius: 15px; }
  .grid__parrafo2 .texto__revista {
    font-size: 20px;
    font-family: Arial;
    color: white; }

.revista3 {
  height: 400px;
  width: 400px;
  border-radius: 10px; }

.revista2 {
  height: 400px;
  width: 400px;
  border-radius: 10px; }

.revista:hover {
  transform: translateX(10px);
  filter: brightness(80%);
  transition: 0.7s; }

.revista2:hover {
  transform: translateX(10px);
  filter: brightness(80%);
  transition: 0.7s; }

.juegos__electronicos {
  background-color: rgba(0, 0, 0, 0.122);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "car bmw-car racing-car" "car auto-bmw2 bmwgame" "car auto-bmw2 bmwgame";
  height: 800px;
  padding: 30px;
  margin: 5%;
  border-radius: 15px;
  justify-content: center; }

.car {
  grid-area: car;
  background-image: url(../resources/car.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 2s;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  border-radius: 15px; }

.bmw-car {
  grid-area: bmw-car;
  background-image: url(../resources/bmw-car.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 2s;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  border-radius: 15px; }

.racing-car {
  grid-area: racing-car;
  background-image: url(../resources/racing-car.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 2s;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  border-radius: 15px; }

.auto-bmw2 {
  grid-area: auto-bmw2;
  background-image: url(../resources/auto-bmw2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 2s;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  border-radius: 15px;
  column-gap: 2px;
  row-gap: 3px; }

.bmwgame {
  grid-area: bmwgame;
  background-image: url(../resources/bmwgame.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 2s;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  border-radius: 15px; }

.subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 15px; }

.deportivo__esports2 {
  background-color: rgba(0, 0, 0, 0.593);
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  padding: 20px;
  margin: 5%;
  border-radius: 15px;
  grid-column: 40px;
  grid-row: 34px; }

.deportivos__esports {
  background-color: rgba(0, 0, 0, 0.593);
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  grid-column: 40px;
  grid-row: 34px;
  padding: 20px;
  margin: 5%;
  border-radius: 15px; }

.carousel-item {
  width: 100%;
  height: 500px; }
