/* COLOR */
/* color */
.footer {
  display: grid;
  height: 100px;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 3px;
  row-gap: 3px;
  column-gap: 10px;
  align-items: center;
  width: 100%;
  background-color: black; }

.footer__hijo {
  display: flex;
  justify-content: center; }

.footer__class {
  display: inline;
  justify-content: center;
  padding: 20px;
  align-self: center; }

.footer__derechos {
  display: flex;
  justify-content: center;
  align-items: center; }

.imagen__nav {
  height: 50px; }

.nav-item {
  color: white; }

.nav-item a:hover {
  color: white;
  transform: scale(1.05, 1.05);
  transition: 1s; }

.colores:hover {
  color: white; }

.navbar-brand {
  color: white;
  padding: 30px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  list-style: none; }

.navbar-brand:hover {
  color: white; }

.imagen__nav {
  height: 50px;
  width: 70px; }

.nav-link {
  color: white;
  font-size: 20px;
  text-shadow: 54px;
  font-family: 'Open Sans', sans-serif; }

.edit__boton {
  color: white;
  background: white;
  background-color: white; }

.form-group {
  color: white;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace; }

.color__fondo {
  background: rgba(122, 122, 122, 0.12);
  padding: 40px;
  margin: 30px; }

.header__nav {
  background-color: rgba(255, 255, 255, 0);
  height: 50px;
  list-style: none;
  color: white; }

.nav-item {
  color: white; }
  .nav-item a:hover {
    color: white;
    transform: scale(1.05, 1.05);
    transition: 1s; }

.navbar-brand {
  color: white;
  padding: 30px;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif; }
  .navbar-brand:hover {
    color: white; }

.edit__boton {
  color: black;
  background: white;
  background-color: white; }

.form-group {
  color: white;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace; }

.color__fondo {
  background: rgba(122, 122, 122, 0.12);
  padding: 40px;
  margin: 30px; }

.juegos__electronicos {
  background-color: rgba(0, 0, 0, 0.122);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "car bmw-car racing-car" "car auto-bmw2 bmwgame" "car auto-bmw2 bmwgame";
  height: 800px;
  padding: 30px;
  margin: 5%;
  border-radius: 15px;
  justify-content: center; }

.car {
  grid-area: car;
  background-image: url(../resources/car.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 2s;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  border-radius: 15px; }

.bmw-car {
  grid-area: bmw-car;
  background-image: url(../resources/bmw-car.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 2s;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  border-radius: 15px; }

.racing-car {
  grid-area: racing-car;
  background-image: url(../resources/racing-car.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 2s;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  border-radius: 15px; }

.auto-bmw2 {
  grid-area: auto-bmw2;
  background-image: url(../resources/auto-bmw2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 2s;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  border-radius: 15px;
  column-gap: 2px;
  row-gap: 3px; }

.bmwgame {
  grid-area: bmwgame;
  background-image: url(../resources/bmwgame.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 2s;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  border-radius: 15px; }

.subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 15px; }

.deportivo__esports2 {
  background-color: rgba(0, 0, 0, 0.593);
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  padding: 20px;
  margin: 5%;
  border-radius: 15px;
  grid-column: 40px;
  grid-row: 34px; }

.deportivos__esports {
  background-color: rgba(0, 0, 0, 0.593);
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  grid-column: 40px;
  grid-row: 34px;
  padding: 20px;
  margin: 5%;
  border-radius: 15px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h2 {
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-family: 'Albert Sans', sans-serif; }

p {
  color: white; }

h1 {
  color: white;
  font-family: 'Albert Sans', sans-serif; }

span {
  color: white;
  font-family: 'Albert Sans', sans-serif; }

body {
  background-image: url(../resources/fondoweb.jpg); }

.texto__principal {
  background-image: url(../resources/fondoactua.webp);
  background-color: #323232;
  background-blend-mode: soft-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 95%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 5px;
  border-radius: 15px;
  color: white; }

.titulo__principal {
  color: white;
  font-family: 'Albert Sans', sans-serif;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/1; }

.formato__principal {
  display: flex;
  justify-content: center;
  width: 100%; }

.texto2 {
  font-size: 19px;
  font-family: 'Albert Sans', sans-serif;
  padding: 30px;
  align-items: center; }

.galeria__fotos {
  display: grid;
  justify-content: center;
  grid-template-columns: 270px 350px 250px;
  grid-template-rows: 250px 250px 250px;
  background-color: rgba(0, 0, 0, 0);
  margin: 15px;
  border-radius: 15px;
  grid-gap: 15px; }

.galeria__fotos img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px; }

.editar__mov {
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center; }

.imagen__primera {
  grid-row: 1/3;
  grid-column: 2/2; }

.imagen__ultima {
  grid-column: 1/4; }

.grid__galeria-space {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto;
  justify-content: center; }

.principal {
  background-color: rgba(0, 0, 0, 0); }

.tamano__imagen {
  height: 700px;
  width: 750px; }

.texto__galeria {
  align-self: center;
  font-size: 30px;
  font-family: 'Albert Sans', sans-serif; }

.galeria__texto {
  font-size: 25px;
  margin: 30px;
  font-family: 'Albert Sans', sans-serif; }

.carousel-item {
  object-fit: cover;
  object-position: center; }

.img__edit {
  background-color: red;
  margin: 40px;
  padding: 40px; }

.grid__parrafo {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: auto;
  background-color: rgba(117, 2, 225, 0);
  padding: 30px;
  margin: 20px;
  grid-gap: 2%;
  justify-content: center;
  border-radius: 15px; }

.grid__parrafo2 {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: auto;
  justify-content: center;
  background-color: rgba(41, 224, 56, 0);
  padding: 30px;
  margin: 20px;
  grid-gap: 2%;
  border-radius: 15px; }

h3 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Open Sans', sans-serif; }

.seccion {
  background: red;
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  transition: all 5s; }

.seccion2 {
  background: rgba(255, 0, 0, 0);
  height: 550px;
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 15px;
  transition: all 5s; }

.seccion__numero2 {
  background-color: rgba(255, 255, 0, 0); }

.seccion:hover {
  transform: scale(1.1); }

.revista:hover {
  transform: scale(1.15); }

.revista2:hover {
  transform: scale(1.15); }

.texto__revista {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif; }

.revista {
  height: 400px;
  width: 400px;
  border-radius: 15px;
  margin: 5px;
  transition: all 300ms; }

.revista2 {
  height: 400px;
  width: 400px;
  margin: 5px;
  border-radius: 15px;
  transition: all 300ms; }

.revista3 {
  height: 400px;
  width: 400px;
  border-radius: 15px; }

.galeria {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
  transition: 2.5; }

.galeria__texto:hover {
  transform: scale(1.05); }

/* MEDIA DE CELULAR */
@media (min-width: 320px) and (max-width: 575px) {
  .formato__principal {
    display: none; }
  .contenedor__grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-bottom: 100%;
    padding: 10px; }
  .imagen__nav {
    height: 50px; }
  .navbar-toggler {
    color: white;
    width: auto;
    background: white; }
  .nav-item {
    color: white; }
  .nav-item a:hover {
    color: white;
    transform: scale(1.05, 1.05);
    transition: 1s; }
  .navbar-brand {
    color: white;
    padding: 10px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif; }
  .navbar-brand:hover {
    color: white; }
  .imagen__nav {
    height: auto;
    width: auto; }
  .nav-link {
    color: white;
    font-size: 25px;
    text-shadow: 54px;
    font-family: 'Open Sans', sans-serif; }
  .edit__boton {
    color: white;
    background: white;
    background-color: white; }
  .form-group {
    color: white;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace; }
  .color__fondo {
    background: rgba(122, 122, 122, 0.12);
    padding: 40px;
    margin: 30px; }
  .header__nav {
    background-image: url(../resources/yellow.jpg);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #323232;
    background-blend-mode: soft-light; }
  .imagen__nav {
    height: 50px; }
  .galeria__fotos {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: rgba(0, 0, 0, 0);
    margin: 15px;
    border-radius: 15px;
    grid-gap: 15px; }
  .galeria__fotos img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .editar__mov {
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center; }
  .imagen__primera {
    grid-row: 1/3;
    grid-column: 2/2; }
  .imagen__ultima {
    grid-column: 1/4; }
  .movimiento__editado {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; }
  .galeria__texto {
    font-size: 13px;
    margin: 5px;
    align-self: center; }
  .grid__galeria-space {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    margin: 6px; }
  .principal {
    background-color: rgba(0, 0, 0, 0); }
  .carousel-item {
    object-fit: cover;
    object-position: center; }
  .tamano__imagen {
    height: 300px;
    width: 300px; }
  .texto__galeria {
    align-self: center; }
  .carousel-item {
    object-fit: cover;
    object-position: center; }
  .texto2 {
    font-size: 13px;
    margin: 5px; }
  .texto__galeria {
    font-size: 13px; }
  .grid__parrafo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: rgba(0, 0, 0, 0.593);
    justify-content: center;
    padding: 30px;
    margin: 6px;
    border-radius: 15px; }
  .texto__revista {
    font-size: 13px;
    margin: 5px;
    align-self: center; }
  .revista {
    height: 200px;
    width: 200px;
    margin: 5px; }
  .revista2 {
    height: 200px;
    width: 200px;
    margin: 5px; }
  .grid__parrafo2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: rgba(0, 0, 0, 0.593);
    border-radius: 15px;
    padding: 30px;
    margin: 6px;
    border-radius: 15px; }
  .revista3 {
    height: 200px;
    width: 250px; }
  .juegos__electronicos {
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "car" "bmwgame" "car" "racing-car";
    padding: 30px;
    margin: 5%;
    border-radius: 15px;
    justify-content: center; }
  .car {
    grid-area: car;
    background-image: url(../resources/car.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    border-radius: 15px; }
  .bmw-car {
    grid-area: bmw-car;
    background-image: url(../resources/bmw-car.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    border-radius: 15px; }
  .racing-car {
    grid-area: racing-car;
    background-image: url(../resources/racing-car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    border-radius: 15px; }
  .auto-bmw2 {
    grid-area: auto-bmw2;
    background-image: url(../resources/auto-bmw2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    border-radius: 15px;
    column-gap: 2px;
    row-gap: 3px; }
  .bmwgame {
    grid-area: bmwgame;
    background-image: url(../resources/bmwgame.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    border-radius: 15px; }
  .subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 15px; }
  .deportivo__esports2 {
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 20px;
    margin: 5%;
    border-radius: 15px;
    grid-column: 40px;
    grid-row: 34px; }
  .deportivos__esports {
    background-color: rgba(0, 0, 0, 0.593);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column: 40px;
    grid-row: 34px;
    padding: 20px;
    margin: 5%;
    border-radius: 15px; }
  .galeria__title {
    font-size: 20px; }
  .movimiento__editado {
    height: 300px; }
  .galeria {
    display: block;
    height: auto;
    width: auto;
    margin: 15px; }
  .footer {
    display: grid;
    height: auto;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 3px;
    row-gap: 3px;
    column-gap: 10px;
    align-items: center;
    width: auto;
    background-color: rgba(0, 0, 0, 0.244); }
  .footer__hijo {
    display: flex;
    justify-content: center; }
  .footer__class {
    display: inline;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    list-style: none;
    align-self: center; }
  .footer__derechos {
    display: flex;
    justify-content: center;
    align-items: center; }
  .grid__parrafo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: rgba(117, 2, 225, 0);
    padding: 30px;
    margin: 20px;
    grid-gap: 2%;
    justify-content: center;
    border-radius: 15px; }
  .grid__parrafo2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    background-color: rgba(41, 224, 56, 0);
    padding: 30px;
    margin: 20px;
    grid-gap: 2%;
    border-radius: 15px; }
  h3 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Open Sans', sans-serif; }
  .seccion {
    background: red;
    height: 150px;
    width: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    transition: all 5s; }
  .seccion__numero2 {
    background-color: rgba(255, 255, 0, 0); }
  .seccion:hover {
    transform: scale(1.1); }
  h2 {
    align-items: center;
    padding: 4px;
    font-size: 20px; }
  h1 {
    align-items: center;
    padding: 4px;
    font-size: 20px; }
  .seccion2 {
    background: rgba(255, 0, 0, 0);
    height: 250px;
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 15px;
    transition: all 5s; } }

/* MEDIA QUERIE DE TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  .header__nav {
    background-color: rgba(255, 255, 255, 0);
    max-height: auto; }
  .imagen__nav {
    height: 50px; }
  .texto__principal {
    background-image: url(../resources/fondoea.jpg);
    height: 200px;
    color: black; } }
