.imagen__nav{
    height: 50px;

}

.nav-item{
    color: rgb(255, 255, 255);

}
.nav-item a:hover{
    color: white;
    transform: scale(1.05, 1.05);
    transition: 1s;
    }
.colores:hover{
    color:$color-principal;

}
.navbar-brand{
    color:$color-principal;
    padding: 30px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}
.navbar-brand:hover{
    color: $color-principal;
}

.imagen__nav{
    height: 50px;
    width: 70px;
}

.nav-link{
    color:$color-principal;
    font-size: 20px;
    text-shadow: 54px;
    font-family: 'Open Sans', sans-serif;

}
.edit__boton{
    color: $color-principal;
    background: $color-principal;
    background-color: $color-principal;
}

.form-group{
    color: $color-principal;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    
}

.color__fondo{
    background: rgba(122, 122, 122, 0.12);
    padding: 40px;
    margin: 30px;
    
}
.header__nav{
    background-color: rgba(255, 255, 255, 0);
    height: 50px;
position: sticky;
top: 0px;
    color:$color-principal;

}

.nav-item{
    color: rgb(255, 255, 255);
& a:hover{
    color: $color-principal;
    transform: scale(1.05, 1.05);
    transition: 1s;
    }
}
.navbar-brand{
    color: $color-principal;
    padding: 30px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
&:hover{
    color: $color-principal;
}
}

.edit__boton{
    color: $color-secundario;
    background: $color-principal;
    background-color: $color-principal;
}

.form-group{
    color: $color-principal;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    
}

.color__fondo{
    background: rgba(122, 122, 122, 0.12);
    padding: 40px;
    margin: 30px;
}



