.grid__parrafo{
    background-color: $color-terciario;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: auto;
column-gap: 10px;
padding: 20px;
    margin: 5%;
    border-radius: 15px;
}
    .edit__img{
    width: 400px;
    height: 400px;
    }
     
    .revista{
        height: 100%;
        width: 100%;
        border-radius: 10px;
        display: flex;}
.texto__revista{
    font-size: 20px;
    font-family: $texto-parrafo;
    color: $color-principal;
    }



.grid__parrafo2{
    background-color: $color-terciario;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    padding: 30px;
    margin: 5%;
    border-radius: 15px;

}

.texto__revista{
    font-size: 20px;
    font-family: $texto-parrafo;
    color: $color-principal;
    }
.revista3{
    height: 400px;
    width: 400px;
    border-radius: 10px;
}




.revista2{
    height: 400px;
    width: 400px;
    border-radius: 10px;
    }


.revista:hover{
    transform:  translateX(10px);
    filter: brightness(80%);
    transition: 0.7s;
    

}

.revista2:hover{
    transform:  translateX(10px);
    filter: brightness(80%);
    transition: 0.7s;
}
