/* COLORES */
$color-principal: white; 
$color-secundario: black;
$color-terciario: rgba(0, 0, 0, 0.593);
$color-edit: rgba(0, 0, 0, 0.122);


/* TEXTO */
$font-text: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$texto-secundario: Cambria, Cochin, Georgia, Times, 'Times New Roman',serif;
$texto-main: Verdana, Geneva, Tahoma, sans-serif;
$texto-parrafo: Arial;

 